*.inter {
  font-family: "Intr", sans-serif;
  font-optical-sizing: auto;
}

nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
  padding-top: 16px auto;
  padding-left: 120px;

  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #FFFFFF;
    height: 80px;
}


.logo {
    max-width: 139px;
    /* margin-left: 120px; */
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
.link-parent{
  display: flex;
  gap: 32px;
  list-style: none;
}
.link-parent a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}   